/* Custom CSS for deadd-notification-center */


/* Notification center */

.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
	padding:2px;
	background: rgba(0, 0, 0, 0.8);
}

.notification {
	background: rgba(0, 0, 0, 0.8);
	border: solid 2px #ff0;
}

.noti-center.time {
	font-size: 64px;
}

/* Notifications */

.notification.content {
background: rgba(0, 0, 0, 0);
border: solid 0px #ff0;
	margin-left: 15px;
	margin-right: 15px;
}

.title {
background: rgba(0, 0, 0, 0);
border: solid 0px #ff0;
	font-weight: bold;
	font-size: 24px;
}

.body {
background: rgba(0, 0, 0, 0);
border: solid 0px #ff0;
	font-size: 16px;
}

.image {
background: rgba(0, 0, 0, 0);
border: solid 0px #ff0;
	font-size: 12px;
}

.actionbutton {
background: rgba(0, 0, 0, 0);
border: solid 0px #ff0;
	font-size: 12px;
}

.appname {
background: rgba(0, 0, 0, 0);
border: solid 0px #ff0;
	font-size: 12px;
}

.time {
	font-size: 12px;
}

.blurredBG.notification {
	background:  rgba(0, 0, 0, 0.4);
}

.blurredBG.notification.critical {
	color: #fff;
	background-color:#f00;
}

.notificationInCenter.critical {
	color: #fff;
	background: rgba(155, 0, 20, 1);
	border: solid 2px #f00;
}

/* Labels */

label {
	color: #eff;
}

label.notification {
	color: #eff;
}

label.critical {
	color: #fff;
}
.notificationInCenter label.critical {
	color: #fff;
}


/* Buttons */

button {
	background: transparent;
	color: #eff;
	border-radius: 3px;
	border-width: 0px;
	background-position: 0px 0px;
	text-shadow: none;
}

button:hover {
	border-radius: 3px;
	background: rgba(0, 20, 20, 0.2);
	border-width: 0px;
	border-top: transparent;
	border-color: #f00;
	color: #fee;
}


/* Custom Buttons */

.userbutton {
	background: rgba(20,0,0, 0.15);
}

.userbuttonlabel {
	color: #222;
	font-size: 12px;
}

.userbutton:hover {
	background: rgba(20, 0, 0, 0.2);
}

.userbuttonlabel:hover {
	color: #111;
}

button.buttonState1 {
	background: rgba(20,0,0,0.8);
}

.userbuttonlabel.buttonState1 {
	color: #fff;
}

button.buttonState1:hover {
	background: rgba(20,0,0, 0.4);
}

.userbuttonlabel.buttonState1:hover {
	color: #111;
}

button.buttonState2 {
	background: rgba(255,255,255,0.3);
}

.userbuttonlabel.buttonState2 {
	color: #111;
}

button.buttonState2:hover {
	background: rgba(20,0,0, 0.3);
}

.userbuttonlabel.buttonState2:hover {
	color: #000;
}


/* Images */

image.deadd-noti-center.notification.image {
	margin-left: 20px;
}
